#contact {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	max-width: 20%;
	margin-bottom: 5%;
	margin-top: 5%;
}

#news {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	max-width: 20%;
	margin-bottom: 10%;
	margin-top: 10%;
}

#review {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#review__list {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#review__list__by__tag {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#subCategories {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#tags {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

.categories {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.container {
	display: grid;
	grid-row: 1fr 8fr 1fr;
}

.add__remove__tags {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 20px;
}

footer {
	display: flex;
	justify-content: flex-end;
	padding-right: 10%
}

form {
	padding: 20px;
}

h3 {

	padding: 10px;
}

header {
	display: flex;
	justify-content: space-around;
	align-items: center;
}