<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="./style.css"></link>
<link rel="stylesheet" href="./layout.css"></link>
<script src="https://use.fontawesome.com/ecc099372b.js"></script>
<title>Review</title>
</head>
<body>
	<div class="container">
		<header>
			<h1>Band Review</h1>
			<div id="social__media">
				<i class="fa fa-facebook-square" aria-hidden="true"></i> <i
					class="fa fa-reddit-square" aria-hidden="true"></i> <i
					class="fa fa-twitter-square" aria-hidden="true"></i> <i
					class="fa fa-youtube-square" aria-hidden="true"></i> <i
					class="fa fa-google-plus-square" aria-hidden="true"></i>
			</div>
		</header>
		<div id="review">
			<h2 th:text="${review.title}"></h2>
			<h2 th:text="${review.category}"></h2>
			<img th:src="${review.image}"></img>
			<h2 th:text="${review.description}"></h2>
			<a id="back" th:href="@{/category(id=${review.category.id})}">Back to
				Category</a>
		</div>
		<footer>
			<h4>Lorem Ipsum Industries Inc. Copyright 2017</h4>
		</footer>
	</div>
</body>
</html>