<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="./style.css"></link>
<link rel="stylesheet" href="./layout.css"></link>
<script src="https://use.fontawesome.com/ecc099372b.js"></script>
<title>Review</title>
</head>
<body>
	<div class="container">
		<header>
			<h1>Band Review</h1>
			<div id="social__media">
				<i class="fa fa-facebook-square" aria-hidden="true"></i> <i
					class="fa fa-reddit-square" aria-hidden="true"></i> <i
					class="fa fa-twitter-square" aria-hidden="true"></i> <i
					class="fa fa-youtube-square" aria-hidden="true"></i> <i
					class="fa fa-google-plus-square" aria-hidden="true"></i>
			</div>
		</header>
		<div id="review">
			<h2 th:text="${review.title}"></h2>
			<h2 th:text="${review.category}"></h2>
			<img th:src="${review.image}"></img>
			<h2 id="description" th:text="${review.description}"></h2>
			<div id="tags">
				<h2>Tags:</h2>
				<a th:each="tag: ${review.tags}" th:href="@{/tag(id=${tag.Id})}" th:text="${tag.tagName}"></a>

			</div>
			
		<div class="add__remove__tags">	
			<form class="add-tag" method="POST">
				<input name="id" type="hidden" th:value="${review.id}" />
				<label>Enter name of tag to add: </label>
				<input type="text" name="tagName" />
				<button th:formaction="@{/add-tag}">add</button>	
			</form>
		
			<form method="POST">
				<input name="id" type="hidden" th:value="${review.id}" />
				<label>Enter name of tag to remove:</label>
				<input type="text" name="tagName" />
				<button th:formaction="@{/remove-tag}">delete</button>
			</form>
		</div>	
			
			<a id="back" th:href="@{/category(id=${review.category.id})}">Back to
				Category</a>
			
		</div>
		<footer>
			<h4>Lorem Ipsum Industries Inc. Copyright 2017</h4>
		</footer>
	</div>
	<script src="./app.js"></script>
</body>
</html>