<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="./style.css"></link>
<link rel="stylesheet" href="./layout.css"></link>
<script src="https://use.fontawesome.com/ecc099372b.js"></script>
<title>Reviews by Tag</title>
</head>
<body>
	<div class="container">
		<header>
			<h1 th:text="${tag.tagName}"></h1>
			<div id="social__media">
				<i class="fa fa-facebook-square" aria-hidden="true"></i> <i
					class="fa fa-reddit-square" aria-hidden="true"></i> <i
					class="fa fa-twitter-square" aria-hidden="true"></i> <i
					class="fa fa-youtube-square" aria-hidden="true"></i> <i
					class="fa fa-google-plus-square" aria-hidden="true"></i>
			</div>
		</header>
		<section id="review__list__by__tag">
			<h2 th:each="currentReview: ${tag.reviewsByTag}">
				<a th:href="@{/review(id=${currentReview.id})}"
					th:text="${currentReview.title}"></a>
			</h2>
			<a id="back" href="http://localhost:8080/categories">Back to
				Categories</a>
		</section>
		<footer>
			<h4>Lorem Ipsum Industries Inc. Copyright 2017</h4>
		</footer>
	</div>
	<script src="./app.js"></script>
</body>
</html>